<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Changing password failed</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/UserStyle.css}">
</head>
<body>
	<div class="wrapper">
		<div class="container">
		  <form action="/teachers/ManageAccount" method="GET">
		  	<h4>Changing password failed!</h4>
			Old password is incorrect or mismatch between the new password and the confirmation.
		    <div class="row">	
		      <input type="submit" value="Go back">
		 	</div>
		  </form>
		</div>
	</div>
</body>
</html>