<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirm returned books</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

	<div class="container">
		
		<h3>Confirm returned books</h3>
		
		<div class="row">
			<div class="col-25">
				<text>Name:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.firstName + ' ' + user.lastName}"></text>
			</div>
		</div>
					
		<div class="row">
			<div class="col-25">
				<text>Address:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.address}"></text>
			</div>					
		</div>		
					
		<div class="row">
			<div class="col-25">
				<text>City:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.city}"></text>
			</div>	
		</div>
		<br/>
		
		<table id="tablestyle">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Release Year</th>
				<th>Edition</th>
			</tr>
			<tr th:each="book : ${selectedBooks}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.releaseYear}"></td>
				<td th:text="${book.edition}"></td>
			</tr>
		</table>
		
		<p th:if="${fineToPay > 0}">Total fine to be paid: <b><text th:text="${'$ ' + fineToPay + '.'}"></text></b></p>
		
		<div class="row">
			<div class="col-75">
				<form th:action="@{/employee/savereturnedbooks}" th:method="PUT">
					<input style="width: 225px" th:if="${fineToPay > 0}" type="submit" value="Confirm payment and return books">
					<input style="width: 225px" th:if="${fineToPay == 0}" type="submit" value="Confirm and return books">
					<input type="hidden" th:value="${user.userId}" name="userId">
					<input type="hidden" th:value="${selectedBookIds}" name="selectedBookIdsInString">
					<input type="hidden" th:value="PUT" name="_method">
				</form>
			</div>
			<div class="col-75">	
				<form th:action="@{/employee/returnedbooks}" method="GET">
					<input style="width: 225px; background-color: red" type="submit" value="Cancel">
					<input type="hidden" th:value="${selectedBookIds}" name="selectedBookIdsInString">
				</form>
			</div>	
		</div>
	</div>	

</body>
</html>