<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Password reset</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/UserStyle.css}">
</head>
<body>
	<div class="wrapper">
		<div class="container">
		  <form action="/admin/ManageStudents" method="GET">
		  	<h4>Password of student account is reset!</h4>
		    <div class="row">	
		      <input type="submit" value="Go back">
		 	</div>
		  </form>
		</div>
	</div>
</body>
</html>